<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <section class="backgroung-card">
        <img src="../static/images/logo.png" alt="" width="10%"/>
        <span> Insira suas informações abaixo para cadastrar-se no sistema</span>
        <div class="formulario">
            <div class="campo-formulario">
                <label>campo 1</label>
                <input placeholder="Digite aqui o valor do campo 1" />
            </div>

            <div class="campo-formulario">
                <label>campo 2</label>
                <input placeholder="Digite aqui o valor do campo 2" />
            </div>

            <div class="campo-formulario">
                <label>campo 3</label>
                <input placeholder="Digite aqui o valor do campo 3" />
            </div>

            <div class="campo-formulario">
                <label>campo 4</label>
                <input placeholder="Digite aqui o valor do campo 4" />
            </div>

            <div class="campo-formulario">
                <label>campo 5</label>
                <input placeholder="Digite aqui o valor do campo 5" />
            </div>
        </div>

        <button class="botao-formularios">cadastrar</button>
    </section>
</body>
</html>