<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <section class="card-formulario">
        <img src="../static/images/logo.png" alt="" width="10%"/>
        <span> Insira suas informações abaixo para se cadastrar no sistema</span>
        <div class="formulario">
            <div class="Email">
                <label>Email</label>
                <input placeholder="joao.silva@unicamp.com" />
            </div>

            <div class="Password">
                <label>Senha</label>
                <input placeholder="*****" />
            </div>

        <button class="botao-formularios">cadastrar</button>
    </section>
</body>
</html>