<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <nav>Navbar a ser implementada posteriormente</nav>
    <div class="topo-dash">
        <h2>Métricas de acompanhamento</h2>
    <p>Lorem ipsum dolor sit amet. Ut autem suscipit At beatae molestias est autem beatae aut libero veritatis sit placeat nihil et inventore eius. </p>
    </div>

    <section class="cards-fitas">
        <h3>Fitas montadas</h3>
        <div class="card-fita">
            <img src="" alt="imagem do remédio" />
            <div class="infos-card-fita">
                <span>Nome do paciente</span>
                <p>informações da fita</p>
            </div>
        </div>

        <div class="card-fita">
            <img src="" alt="imagem do remédio" />
            <div class="infos-card-fita">
                <span>Nome do paciente</span>
                <p>informações da fita</p>
            </div>
        </div>

        <div class="card-fita">
            <img src="" alt="imagem do remédio" />
            <div class="infos-card-fita">
                <span>Nome do paciente</span>
                <p>informações da fita</p>
            </div>
        </div>

        <div class="card-fita">
            <img src="" alt="imagem do remédio" />
            <div class="infos-card-fita">
                <span>Nome do paciente</span>
                <p>informações da fita</p>
            </div>
        </div>
    </section>

    <section class="cards-fitas">
        <h3>Fitas em montagem</h3>
        <div class="card-fita">
            <img src="" alt="imagem do remédio" />
            <div class="infos-card-fita">
                <span>Nome do paciente</span>
                <p>informações da fita</p>
            </div>
        </div>

        <div class="card-fita">
            <img src="" alt="imagem do remédio" />
            <div class="infos-card-fita">
                <span>Nome do paciente</span>
                <p>informações da fita</p>
            </div>
        </div>

        <div class="card-fita">
            <img src="" alt="imagem do remédio" />
            <div class="infos-card-fita">
                <span>Nome do paciente</span>
                <p>informações da fita</p>
            </div>
        </div>

        <div class="card-fita">
            <img src="" alt="imagem do remédio" />
            <div class="infos-card-fita">
                <span>Nome do paciente</span>
                <p>informações da fita</p>
            </div>
        </div>
    </section>

    <section class="grafico">
        <h3>Taxa de sucesso</h3>
        <img src="" alt="" />
    </section>

    <section class="montagens">
        <h3>Ultimas monstagens</h3>
        <div class="infos-lista-montagem">
            <p>id da montagem</p>
                <p>Status</p>
                <p>horário de finalização da montagem</p>
        </div>

        <ul class="lista-monstagens">
            <li>
                <p>id da montagem</p>
                <select>
                    <option>Status</option>
                    <option>Concluída</option>
                    <option>Aguardando aprovação</option>
                    <option>Montagem com erro</option>
                </select>
                <p>horário de finalização da montagem</p>
            </li>

            <li>
                <p>id da montagem</p>
                <select>
                    <option>Status</option>
                    <option>Concluída</option>
                    <option>Aguardando aprovação</option>
                    <option>Montagem com erro</option>
                </select>
                <p>horário de finalização da montagem</p>
            </li>

            <li>
                <p>id da montagem</p>
                <select>
                    <option>Status</option>
                    <option>Concluída</option>
                    <option>Aguardando aprovação</option>
                    <option>Montagem com erro</option>
                </select>
                <p>horário de finalização da montagem</p>
            </li>

            <li>
                <p>id da montagem</p>
                <select>
                    <option>Status</option>
                    <option>Concluída</option>
                    <option>Aguardando aprovação</option>
                    <option>Montagem com erro</option>
                </select>
                <p>horário de finalização da montagem</p>
            </li>

            <li>
                <p>id da montagem</p>
                <select>
                    <option>Status</option>
                    <option>Concluída</option>
                    <option>Aguardando aprovação</option>
                    <option>Montagem com erro</option>
                </select>
                <p>horário de finalização da montagem</p>
            </li>
        </ul>
    </section>

    <footer>Footer a ser implementado posteriormente</footer>
</body>
</html>