<!-- estoque.hmtl -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
</head>
<body>
    <nav>Navbar a ser implementada posteriormente</nav>
    <div class="topo-estoque">
        <h2>Gerencimento de estoque</h2>
        <button> Adicoinar medicamento <span>+</span></button>
    </div>

    <section class="medicamentos-estoque">
        <div class="card-medicamento">
            <img src="" alt="foto do medicamento" />
            <div class="infos-card-medicamento">
                <span>Nome do medicamento</span>
                <p>Unidades em estoque: </p>
                <p>Data da última aquisição: </p>
            </div>
        </div>

        <div class="card-medicamento">
            <img src="" alt="foto do medicamento" />
            <div class="infos-card-medicamento">
                <span>Nome do medicamento</span>
                <p>Unidades em estoque: </p>
                <p>Data da última aquisição: </p>
            </div>
        </div>

        <div class="card-medicamento">
            <img src="" alt="foto do medicamento" />
            <div class="infos-card-medicamento">
                <span>Nome do medicamento</span>
                <p>Unidades em estoque: </p>
                <p>Data da última aquisição: </p>
            </div>
        </div>
    </section>

    <footer>Footer a ser implementado posteriormente</footer>
</body>
</html>