<!-- login.hmtl -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <section class="card-formulario">
        <img src="../static/images/logo.png" alt="" width="10%" />
        <span> Insira suas informações abaixo para fazer login no sistema</span>

        <form action="/login" method="POST">

            <div class="formulario">

                <label>Email</label>
                <input name="email" type="email" placeholder="E-mail" required />

                <label>Senha</label>
                <input name="password" type="password" placeholder="Senha" required />

                <div class="extras-login">
                    <input type="checkbox" name="remember"> Mantenha-me conectado
                    <a href="/recuperar-senha">Esqueceu sua senha?</a>
                </div>

            </div>

            <button type="submit" class="botao-formularios">Entrar</button>

        </form>

    </section>
</body>

</html>