<!-- login.hmtl -->

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="form-box">
        <form class="form" action="/login" method="POST">
            <span class="title">Login</span>
            <span class="subtitle">Insira suas credenciais para acessar sua conta.</span>
            <div class="form-container">
                <input class="input" name="email" placeholder="Email" type="email" required />
                <input class="input" name="password" placeholder="Senha" type="password" required />
            </div>
            <button type="submit">Entrar</button>
        </form>
        <div class="form-section">
            <p><a href="/recuperar-senha">Esqueceu sua senha?</a></p>
            <p>Não tem uma conta? <a href="/cadastro">Cadastre-se</a></p>
        </div>
    </div>
</body>

</html>