<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <section class="card-formulario">
        <img src="../static/images/logo.png" alt="" width="10%"/>
        <span> Insira suas informações abaixo para fazer login no sistema</span>

        <div class="formulario">
            <input placeholder="E-mail" type="email"/>
            <input placeholder="Senha" type="password"/>
            <div class="extras-login">
                <input type="checkbox">Mantenha-me conectado</input>
                <a href="/recuperar-senha">Esqueceu sua senha?</a>
            </div>
        </div>

        <button class="botao-formularios">Entrar</button>
    </section>
</body>
</html>