<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montagens</title>
</head>
<body>
    <nav>Navbar a ser implementada posteriormente</nav>

    <div class="topo-montagens">
        <h1>Acompanhamento de montagens</h1>
        <button>Pausar operação ||</button>
    </div>

    <section class="montagens">
        <div class="card-montagem">
            <p>id da montagem</p>
            <p>Prescrição</p>
        </div>

        <div class="card-montagem">
            <p>id da montagem</p>
            <p>Prescrição</p>
        </div>

        <div class="card-montagem">
            <p>id da montagem</p>
            <p>Prescrição</p>
        </div>
    </section>

    <section class="acompanhamento-robo">
        <h2>Acompanhe o funcionamento do braço mecânico</h2>
        <div class="logs-robo">
            <p>Útlima atividade do dobot</p>
            <p>penultima atividade do robo</p>
            <p>demais atividades do robô</p>
        </div>
    </section>
    
    <footer>footer a ser implementado posteriormente</footer>
</body>
</html>