<!-- montangens.hmtl -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Montagens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesPages.css') }}">
</head>
<body>
    <nav>Navbar a ser implementada posteriormente</nav>

    <div class="topo-montagens">
        <h1>Acompanhamento de montagens</h1>
        <button>Pausar operação ||</button>
    </div>

    <section class="montagens">
        <div class="card-montagem">
            <p>id da montagem</p>
            <p>Prescrição</p>
        </div>

        <div class="card-montagem">
            <p>id da montagem</p>
            <p>Prescrição</p>
        </div>

        <div class="card-montagem">
            <p>id da montagem</p>
            <p>Prescrição</p>
        </div>
    </section>

    <section class="acompanhamento-robo">
        <h2>Acompanhe o funcionamento do braço mecânico</h2>
        <div class="logs-robo">
            <p>Última atividade do dobot</p>
            <p>Penúltima atividade do robô</p>
            <p>Demais atividades do robô</p>
        </div>
    </section>
    
    <footer class="footer">
        <img src="{{ url_for('static', filename='images/logo_inteli.svg') }}" alt="Inteli Logo" class="footer-image left">
        <img src="{{ url_for('static', filename='images/logo_dose_certa.svg') }}" alt="Dose Certa Logo" class="footer-image center">
        <img src="{{ url_for('static', filename='images/logo_hc.svg') }}" alt="HC Logo" class="footer-image right">
    </footer>
</body>
</html>