<!-- prescricoes.hmtl -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescrições</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesPages.css') }}">
</head>
<body>
    <nav>Navbar a ser implementada posteriormente</nav>

    <h1>Prescrições pendentes</h1>

    <section class="prescricoes">
        <div class="card-prescricao">
            <div class="infos-card-prescricao">
                <span>Nome do paciente</span>
                <p>prescrição</p>
            </div>
            <div class="interacao-card-prescricao">
                <span>A prescrição está adequada?</span>
                <div class="botoes-prescricao">
                    <button>Aprovar</button>
                    <button onclick="window.location.href='/verificacao'">Aprovar com ressalva</button>
                </div>
            </div>
        </div>

        <div class="card-prescricao">
            <div class="infos-card-prescricao">
                <span>Nome do paciente</span>
                <p>prescrição</p>
            </div>
            <div class="interacao-card-prescricao">
                <span>A prescrição está adequada?</span>
                <div class="botoes-prescricao">
                    <button>Aprovar</button>
                    <button onclick="window.location.href='/verificacao'">Aprovar com ressalva</button>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <img src="{{ url_for('static', filename='images/logo_inteli.svg') }}" alt="Inteli Logo" class="footer-image left">
        <img src="{{ url_for('static', filename='images/logo_dose_certa.svg') }}" alt="Dose Certa Logo" class="footer-image center">
        <img src="{{ url_for('static', filename='images/logo_hc.svg') }}" alt="HC Logo" class="footer-image right">
    </footer>
</body>
</html>