<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prescrições</title>
</head>
<body>
    <nav>Navbar a sem implementada posteriormente</nav>

    <h1>Prescriçoes pendentes</h1>

    <section class="prescricoes">
        <div class="card-prescricao">
            <div class="infos-card-prescricao">
                <span>Nome do paciente</span>
                <p>prescrição</p>
            </div>
            <div class="interacao-card-prescricao">
                <span>A prescrição está adequada?</span>
                <div class="botoes-prescricao">
                    <button>Aprovar</button>
                    <button>Adicionar ressalva</button>
                </div>
            </div>
        </div>

        <div class="card-prescricao">
            <div class="infos-card-prescricao">
                <span>Nome do paciente</span>
                <p>prescrição</p>
            </div>
            <div class="interacao-card-prescricao">
                <span>A prescrição está adequada?</span>
                <div class="botoes-prescricao">
                    <button>Aprovar</button>
                    <button>Adicionar ressalva</button>
                </div>
            </div>
        </div>
    </section>

    <footer>Footer a ser implementado posteriormente</footer>
</body>
</html>