<!-- recuperarSenha.hmtl -->

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesLogin.css') }}">
</head>

<body>
    <div class="form-box">
        <form class="form" action="{{ url_for('recuperar_senha') }}" method="POST">
            <span class="title">Recuperar Senha</span>
            <span class="subtitle">Digite seu email abaixo para recuperar a sua senha.</span>
            <div class="form-container">
                <input type="email" class="input" name="email" placeholder="Digite seu email" required />
            </div>
            <button type="submit">Recuperar Senha</button>
        </form>
        <div class="form-section">
            <p><a href="{{ url_for('login') }}">Voltar ao login</a></p>
        </div>
    </div>
</body>

</html>