<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificação</title>
</head>
<body>
    <nav>Navbar a ser implementada posteriormente</nav>
    <h1>Verificação de medicamentos</h1>

    <section class="prescricoes">
        <div class="card-prescricao">
            <div class="infos-card-prescricao">
                <div class="infos-card-prescricao">
                    <span>Nome do paciente</span>
                    <button>Finalizar</button>

                </div>

                <div class="interacao-card-prescricao">
                    <ul>
                        <li>
                            <p>nome do princípio ativo</p>
                            <p>dosagem do medicamento</p>
                            <p>Aprovar medicamento</p>
                        </li>
                        <li>
                            <p>nome do princípio ativo</p>
                            <p>dosagem do medicamento</p>
                            <input type="checkbox" />
                        </li>

                        <li>
                            <p>nome do princípio ativo</p>
                            <p>dosagem do medicamento</p>
                            <input type="checkbox" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-prescricao">
            <div class="infos-card-prescricao">
                <div class="infos-card-prescricao">
                    <span>Nome do paciente</span>
                    <button>Finalizar</button>

                </div>

                <div class="interacao-card-prescricao">
                    <ul>
                        <li>
                            <p>nome do princípio ativo</p>
                            <p>dosagem do medicamento</p>
                            <p>Aprovar medicamento</p>
                        </li>
                        <li>
                            <p>nome do princípio ativo</p>
                            <p>dosagem do medicamento</p>
                            <input type="checkbox" />
                        </li>

                        <li>
                            <p>nome do princípio ativo</p>
                            <p>dosagem do medicamento</p>
                            <input type="checkbox" />
                        </li>

                        <li>
                            <p>nome do princípio ativo</p>
                            <p>dosagem do medicamento</p>
                            <input type="checkbox" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <footer>Footer a ser implementado posteriormente</footer>
</body>
</html>