body {
    background-color: #ECF0F1;
    justify-content: center;
}

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topo-estoque {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
    width: 800px;
}

.titulo-pagina {
    color: #2C3E50;
    font-family: "Montserrat";
    font-size: 70 px;
}

.add-medicamento {
    background-color: #2ECC71;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 24 px;
    font-weight: bold;
    padding: 10px 20px 10px 10px;
    border-color: #2ECC71;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color .3s;
    height: 60px;
    width: 180px;
}

.add-medicamento .mais {
    font-size: 40px;
}

.add-medicamento:hover {
    background-color: #3FAB6D;
}

.popup {
    background-color: #2C3E50;
    font-family: "Montserrat";
    position: center;
    padding: 20px;
    border-radius: 20px;
    width: 700px;
    align-items: center;

}

.texto-dados-medicamento {
    font-family: "Montserrat";
    font-size: 19px;
    color: #2C3E50;
}

.dados-medicamento {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 13px;
    height: 50px;
    gap: 30px;
    margin: 5px;
}

.input-unidades {
    background-color: #D9D9D9;
    color: #2C3E50;
    font-family: "Montserrat";
    font-size: 19px;
    width: 50px;
    margin: 7px;
    border-radius: 5px;
}

.dados-select-medicamento {
    display: flex;
    justify-items: center;
    align-items: center;
}

.dados-unidades {
    display: flex;
    justify-items: center;
    align-items: center;
}

.select-dados-medicamento {
    background-color: #D9D9D9;
    color: #2C3E50;
    font-family: "Montserrat";
    font-size: 19px;
    border-radius: 5px;
    margin: 5px;
}

.btn-add-mais {
    font-family: "Montserrat";
    font-size: 19px;
    border: none;
    width: 200px;
    height: auto;
    transition: background-color .3s;
    background-color: #D9D9D9;
    color: #2C3E50;
    margin: 5px;
}

.botoes-popup {
    font-family: "Montserrat";
    font-size: 19px;
    border: none;
    height: auto;
    transition: background-color .3s;
}

.botao-cancelar {
    background-color: #D9D9D9;
    color: #2C3E50;
    margin: 5px;
    width: 150px;
}

.botao-cancelar:hover {
    background-color: #323848;
    color: #D9D9D9;
    width: 150px;
}

.botao-salvar {
    background-color: #2ECC71;
    color: #D9D9D9;
    margin: 5px;
}

.botao-salvar:hover {
    background-color: #323848;
}

.botoes-popup {
    display: flex;
    justify-content: right;
    align-items: center;
}

.secoes {
    display: flex;
    justify-content: space-between;
    align-items: top;
    background-color: #D9D9D9;
    border-radius: 26px;
    padding: 5px;
    width: 800px;
    margin: 30px;
}

.titulo-secao {
    font-family: "Montserrat";
    margin: 30px;
    color: #2C3E50;
}

.alerta-medicamento {
    display: flex;
    width: 400px;
    align-items: center;
    gap: 20px;
    background-color: #34495E;
    padding: 10px 20px;
    border-radius: 26px;
    margin: 10px;
}

.linha {
    display: flex;
    align-items: center;
    gap: 20px;
}

.textos-alertas {
    align-items: center;
    font-family: "Montserrat";
    font-size: 24 px;
}

.nome-remedio {
    font-weight: bold;
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 24 px;
}

.quantidade-remedio {
    color: #E9B78A;
    font-family: "Montserrat";
    font-size: 24 px;
}

.quantidade-remedio-critico {
    color: #E67E22;
    font-family: "Montserrat";
    font-size: 24 px;
}

.bin {
    color: #FFFFFF;
    font-family: "Montserrat";
    font-size: 24 px;
}

.quantidade-remedio-add {
    color:#2ECC71;
    font-family: "Montserrat";
    font-size: 24 px;
}

.titulos-quadro {
    background-color: #323848;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    width: 500px;
    height: 50px;
    font-size: 24px;
    color: #FFFFFF;
    font-family: "Montserrat";
}

.medicamento-quadro {
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    margin: 10px;
    border-radius: 20px;
    width: 500px;
    height: 50px;
}
